hr.new5 {
    border: 5px solid red;
    border-radius: 5px;
    width : 10%;
  }


  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .cent{
    width: 100%;
   
  }


  header{
    background-size: cover;
    
   background-image: url(/home/cyberun-5/Bureau/reestaurantTraining//img/background.jpg) ;
   background-repeat: no-repeat;
   height:100vh;
  }

  .hcerf{
    height:50vh;

  }


